body {
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.sr-only {
  opacity: 0;
  position: absolute;
  clip-path: inset(50%);
}
